h1, h2 {
  color: Blue;
}


main, header, nav, article, aside, footer, section {
  background-color: rgba(255,0,0,0.5);
  padding: 1%;
}


header {
  margin-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
}

p {
  color: black;
}

ul {
  border: 4px solid Blue;
}

ol {
  border: 4px solid Blue;
}

ol, ul {
  padding: 5px 20px;
  border-radius: 4px;
}

h1, strong {
  color: Blue;
}

em {
  color: blue;
}

body {
  width: 70%;
  min-width: 800px;
  margin: 0 auto;
}

aside {
  flex: 1;
  margin-left: 10px;
  padding: 1%;
}

footer {
  margin-top: 10px;
}

.flex-container {
  background-color: rgba(255, 0, 0, .5);  padding: 1%;
  padding: 1%;
  display: flex;
  flex-wrap: wrap;
}

.grid {
    display: grid;
    grid-template-columns: 275px 275px 275px;
    grid-column-gap: 10px;

}

.grid div {
    border: 1px solid rgb(0,95,107);
    border-radius: 3px;
    background-color:rgba(0,95,107,0.8)
    padding: 0.2em;
    color: #000;
    fontsize: 120%;
    flex-basis: auto;
}
